.page {
  display: flex;
  flex-direction: column;
  gap: var(--ntlstl-page-gap);
  max-width: var(--ntlstl-page-max);
  height: 100%;
}

.container {
  flex: 1 1 auto;
  min-height: 560px;
  border: 1px solid var(--g-color-line-generic);
  border-radius: var(--g-border-radius-l);
  overflow: hidden;
}
